<div id="login">
    <!--header-->
    <div class="header-w3l">
        <h1>Share Knowledge</h1>
    </div>
    <!--//header-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <h2>Signup Here</h2>
            <label class="form-error"></label>
            <form id="login-form" action="/login" method="POST" target="_blank">
                <div class="pom-agile">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <input placeholder="E-mail" name="email" class="user" type="email" required="" style="width:90%">
                </div>

                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input placeholder="Password" name="password" class="pass" type="password" required="" style="width:90%">
                </div>

                <div class="pom-agile" style="margin-top: 15px">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <input placeholder="Full name" name="email" class="user" type="text" required="" style="width: 90%; outline:0;border:0">
                </div>

                <div class="right-w3l" style="margin-top: 20px">
                    <input type="submit" value="Sign up">
                </div>
            </form>
        </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>Bài tập lớn nhóm 10 môn Công Nghệ Web Tiên Tiến kỳ 20181 </p>
    </div>
    <!--//footer-->
</div>

<script type="application/x-javascript">
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);
  
    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>