<div class="user-page">
    <div class="col-sm-8">
        <div class="suggest-title" style="margin-bottom: 10px;">
            <i class="fa fa-tags" aria-hidden="true">&nbsp&nbsp<i style="color: #333;">Chủ đề nổi bật</i></i>
            <ul>
                <li><a>huyenharu</a></li>
                <li><a>haruharu</a></li>
            </ul>
        </div>
        <div class="single-post">
            <% posts.map(post => { %>
            <div class="new-view">
                <a href="/posts/detail"><label>
                        <%= post.title %></label></a>
                <span>110 <i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                <p>
                    <%= post.short_content%>
                </p>
                <p>
                    <%= locals.settingTab%>
                </p>
            </div>
            <% } )%>
            <div class="button">
                <button><a>Xem tiếp</a></button>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <div class="meta-profile">
            <div class="row">
                <div class="col-sm-5">
                    <img src="/img/test.jpg" alt="ảnh">
                </div>
                <div class="col-sm-7">
                    <p><label>Huyen Haru</label></p>
                    <button><i class="ti-rss-alt"></i> &nbsp Follow</button><br>
                    <span>0 bài viết</span><br>
                    <span>0 người theo dõi</span>
                </div>
            </div>
        </div>
        <div class="follow">
            <img src="/img/test.jpg" alt="ảnh">
            <img src="/img/test.jpg" alt="ảnh">
        </div>
    </div>

</div>