<!DOCTYPE html>
<html>
<% include ../components/head %>

<body>
  <% include ../components/header%>
  <div>
    <% var bodyContent = '../components/home/body' %>
    <% include ../components/body %>
  </div>
</body>
<% include ../components/script %>

</html>