<!DOCTYPE html>
<html>
<% include ../components/head %>

<body>
  <div>
    <div>
      <% var bodyContent = '../components/home/body' %>
      <% include ../components/body %>
    </div>
  </div>
</body>
<% include ../components/script %>

</html>
