<!DOCTYPE html>
<html>
<% include ../components/head %>

<body>
  <% var bodyContent = '../components/login/body' %>
  <% include ../components/body %>
</body>
<% include ../components/script %>

</html>