<!DOCTYPE html>
<html>
<% include ../../components/head %>

<body>
  <% include ../../components/header%>
  <div>
    <% var bodyContent = '../../components/post/new-post/body' %>
    <% include ../../components/body %>
  </div>

</body>
<% include ../../components/script %>

</html>