<div class="newpost">
    <div class="fluid huge icon input">
        <input autocomplete="off" autofocus="autofocus" id="title" name="" spellcheck="false" placeholder="Tựa đề hay gây ấn tượng cho người đọc"
            type="text">
    </div>
    <div class=" fluid input">
        <input autocomplete="off" id="" name="" placeholder="Tag hợp lí giúp bài viết dễ tìm thấy hơn" type="text">
    </div>
    <textarea name="editor1" id="editor1" rows="20" cols="180">
    </textarea>
    <div class="note">
        <span> <i class="fa fa-question-circle" aria-hidden="true"></i></span>
        <span>Kéo thả / copy và paste ảnh vào editor hoặc <a href="">chọn ảnh</a> để upload</span>
    </div>
    <div class="button">
        <button id="dangbai">Đăng bài</button>
        <button id="luunhap">Lưu nháp</button>
    </div>
</div>