<div class="newpost">
  <div class="fluid huge icon input">
    <input autocomplete="off" autofocus="autofocus" id="title" name="" spellcheck="false" placeholder="Tựa đề hay gây ấn tượng cho người đọc"
      type="text">
  </div>
  <div class=" fluid input">
    <!-- <input autocomplete="off" id="" style="margin-bottom: 20px" name="" placeholder="Tag hợp lí giúp bài viết dễ tìm thấy hơn" type="text"> -->
    <div>
      <div class="dropdown" style="margin-top: 10px; display: inline;">
        <div class="btn dropdown-toggle" data-toggle="dropdown" style="width: 100px;">
          Choose tags
          <b class="caret"></b>
        </div>
        <ul class="dropdown-menu">
          <% tags.forEach(tag => { %>
          <li value="<%= tag %>">
            <a>
              <%= tag %></a>
          </li>
          <% } )%>
        </ul>
      </div>
      <input id="cb-tagsinput" class="form-control" multiple data-role="tagsinput" style="width: 80%; height: 30px;">
    </div>

  </div>

  <textarea id="rte-tool" class="mb-2"></textarea>

  <div class="button">
    <button id="dangbai">Đăng bài</button>
  </div>
</div>

<script>
  $(function () {
    $('#rte-tool').froalaEditor({ iframe: true })
    $('#rte-tool').froalaEditor('html.set', '')

    $('#rte-tool').removeAttr('data-product-description-temp')
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
      event.preventDefault()
      $(this).ekkoLightbox()
    });
    $('#cb-tagsinput').tagsinput('add', 'default');

    $('#dangbai').on('click', function (event) {
      event.preventDefault()
      var content = $('#rte-tool').val();
      var title = $('#title').val();
      var tags = $('#cb-tagsinput').tagsinput('items')
      if (!tags || tags.length == 0) {
        tags = ['default']
      }
      $.ajax({
        type: 'POST',
        crossDomain: true,
        headers: {
          "Access-Control-Allow-Origin": "*"
        },
        contentType: 'application/json',
        data: JSON.stringify({
          "content": content,
          "tags": tags,
          "title": title
        }),
        url: '/posts',
        success: function (data) {
          window.location.href = `/posts/${data.post_id}`
        }
      });
    });
  });
</script>