.detailView label{
    margin-right: 50px;
    color: #00b5ad;
    font-size: 25px;
}

.detailView a:hover label{
    cursor: pointer;
    color: #337ab7;
}

.detailView .cmt-img {
    height: 20px;
    padding-right: 2px;
    border-radius: 50%; 
    width: 25px; 
}

.likecmt{
    border-left: 1px solid #cccccc;
}

.likecmt .number-like {
    margin-top: 20px; 
    margin-left: 20px;
    text-align: center;
    font-size: 40px;
    color: #00b5ad;
    
}

.profile{
    border-top: 1px solid #CCCCCC;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-top: 140px;
}

.profile label{
    margin-top: 20px; 
    color: #00b5ad;
    font-size: 17px;
}

.profile img {
    margin-top: 18px;
    height: 70px;
    padding-right: 2px;
    border-radius: 50%; 
    width: 75px; 
}

.detail h4 {
    color: #00b5ad;
    margin-top: 20px;

}


.comment label{
    margin-top: 10px; 
    color: #00b5ad;
    font-size: 15px;
}

.comment1 img{
    margin-top: 15px;
}

.comment1 label{
    margin-top: 15px; 
    color: #00b5ad;
    font-size: 13px;
}

textarea{
    margin-top: 20px;
    width: 100%;
    height: 47px;
    border-radius: 0.3125em;
    overflow: hidden;
    overflow-wrap: break-word;
    min-height: 4rem;
    max-height: 1000em;
}
button{
     margin-top: 10px;
     float: right;
     padding: 5px;
     background: #00b5ad;
     color: white;
 }

 #like .like-true{
     color: blue;
 }

 #like .like-false{
     color: black;
 }