.header{
    background: #008B8B;
    z-index: 3333;
}

.navbar-collapse{
    margin: 10px 50px 10px 60px;
}
.header h1{
    color: #fff;
    font-size: 30px;
    margin-top:0px;
    margin-right: 10px;
}
.header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    position: relative;
    padding: 0;
}
.navbar-nav {
    display: block;
}

.header .nav li {
    float: left;
    position: relative;
    margin-right: 5px;
}

.header .nav>li>a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    position: relative;
    text-shadow: none;
}
.header .nav>li:hover>a, 
.header .nav>li.active>a {
    color: #fff;
    background:rgb(22, 168, 173);
    text-decoration: none;
}

.header .nav li:hover a.logo,
.header .nav li:active a.logo{
    cursor: pointer;
    background: #008B8B;
}
.header .nav li a i {
    margin-left: 5px;
}
.header .nav li .dropdown {
    background: #fff;
    width: 180px;
    position: absolute;
    float: right;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    transform:scale(0.5);
    -webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0;
}
.header .nav li:hover .dropdown{
    transform:scale(1.0);
    opacity:1;
    visibility:visible;
}
.header .nav li .dropdown p{
    float:none;
    margin-left: 0px;
    /*list-style-type: none;*/
    padding: 5px;
}
.header .nav li .dropdown p a {
    color: #4F4F4F;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    background: transparent;
}
.header .nav li .dropdown p i{
    float:left;
    margin-right: 10px;
    margin-top: 5px;
}
.header .nav li .dropdown p:hover a{
    color:#363636;
    background:#CFCFCF;
    text-decoration: none;
}

.header .nav .navbar-nav span{
    margin-top: 30px;
    }

.header .nav .navbar-nav li img {
    margin-top: 5px;
    height: 30px;
    padding-right: 2px;
    border-radius: 50%; 
    width: 35px; 
}

.notifications {
    min-width:420px; 
   }
   
   .notifications-wrapper {
      overflow:auto;
       max-height:250px;
     }
     
  .menu-title {
      color:rgb(4, 100, 100);
      font-size:1.5rem;
       display:inline-block;
       }
  
    .fa-angle-double-down {
       margin-left:10px;     
    }
   
    
  .notification-heading, .notification-footer  {
      padding:2px 10px;
        }
       
         
 .dropdown-menu.divider {
   margin:5px 0;          
   }

  span.num {
    background: red;
    position: absolute;
    font-size: 1.1em;
    top: 1px;
    color: #fff;
    right: 5px;
    margin-top: 0px !important; 
  }

 .item-title {
   font-size:14px;
   font-weight: 700;
  color:#000;
     
 }

 .notifications a.content {
  text-decoration:none;
  background:#EEEEEE;
  font-size:1.1rem;

  }
     
 .notification-item {
  padding:10px;
  margin:5px;
  background:#EEEEEE;
  border-radius:4px;
  }

  .easy-autocomplete-container {
    z-index: 2147483647;
  }

  .easy-autocomplete.eac-square input{
    height: 35px;
    min-width:300px;
    border-radius: 20px;
  }

  .easy-autocomplete.eac-square ul .eac-category{
    font-weight: 700;
    font-size: 16px;
    color: rgb(4, 100, 100);
  }

  .easy-autocomplete-container li{
    height: 30px;
    width: 300px;
  }

  .easy-autocomplete-container ul li div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
