.content{
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px;
}

.nav#myTab {
    margin-top: 30px;
}

.active .nav-link{
    font-weight: 700;
}

.single-post .new-view{
    border-bottom: 1px solid #CCCCCC; 
    margin-top: 20px;
}

.single-post .new-view label {
    margin-right: 520px;
    color: #337ab7;
    font-size: 20px;
}

.single-post .new-view span {
    margin: 10px;
}

.single-post .new-view span i {
    color: #CCCCCC;
}

.meta-profile{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
}

.meta-profile label{
    color: #337ab7;
    font-size: 25px;
}

.suggest-title{
    margin-top: 15px;
}

.suggest-title i{
    font-size: 20px;
    color: #EE8262;
}

.suggest-title li a {
    color: #333;
    background:#CFCFCF;
    font-size: 14px;
    // text-transform: uppercase;
    padding: 5px;
    display: block;
    position: relative;
    text-shadow: none;
    border-radius: 5px;
}

.suggest-title li {
    float: left;
    position: relative;
    margin: 5px;
    list-style-type: none;
}

.suggest-title li:hover a, 
.suggest-title li.active a {
    cursor: pointer;
    text-decoration: none;
    
}