.content{
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px;
}

.nav#myTab {
    margin-top: 30px;
}

.active .nav-link{
    font-weight: 700;
}

.nav-tabs li a{
    color: #333;
}

.single-post .new-view{
    border-top: 1px solid #CCCCCC; 
}

.single-post .new-view label {
    margin-right: 500px;
    color: #00b5ad;
    font-size: 18px;
    margin-top: 20px;
}

.new-view a:hover label{
    cursor: pointer;
    color: #337ab7;
}

.new-view .img{
    margin-top:17px; 
}

.single-post .button button{
    margin-top: 20px;
     width: 100%;
     padding: 10px;
     background: #EEEEEE;
     border-radius: 0px;
}

.single-post .new-view span i {
    color: #CCCCCC;
}

.note{
    margin-top: 10px;
}

.meta-profile{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
}

.meta-profile label{
    margin-top: 10px; 
    color: #00b5ad;
    font-size: 25px;
}

.meta-profile img {
    height: 100px;
    padding-right: 2px;
    border-radius: 50%; 
    width: 105px; 
}

.suggest-title{
    margin-top: 15px;
}

.suggest-title i{
    font-size: 20px;
    color: #EE8262;
}

.suggest-title li a {
    color: #333;
    background:#CFCFCF;
    font-size: 14px;
    // text-transform: uppercase;
    padding: 5px;
    display: block;
    position: relative;
    text-shadow: none;
    border-radius: 5px;
}

.suggest-title li {
    float: left;
    position: relative;
    margin: 5px;
    list-style-type: none;
}

.suggest-title li:hover a, 
.suggest-title li.active a {
    cursor: pointer;
    text-decoration: none;
    
}