.user-page{
    width: 1200px;
    margin: auto;
}

.meta-profile button{
    border: 1px solid #00b5ad;
    background: #fff;
    color: #00b5ad;
    border-radius: 20px;
    width: auto;
    padding: 4px 10px;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 3px;
}

.user-page .meta-profile img{
    margin-top: 20px;
}

.user-page .follow {
    margin-top: 20px;
}

.user-page .follow img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 5px;
}