<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="ptpmcn, sales page">
  <meta name="description" content="ptpmcn sales page">

  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/{{ assetPath "app.css" }}">

  <!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"> -->

  <script src="/js/jquery-3.2.1.min.js"></script>
</head>
