<div class="content detail" data-user="<%= JSON.stringify(user) %>">
  <div class="row">
    <div class="col-sm-9">
      <div class="detailView">
        <a href=""><label>
            <%= post.title %></label></a><br>
        <span><img src="/img/test.jpg" alt="ảnh"></span>
        <span>huyenharu viết ngày 12/7/2018</span>
        <p>
          <%- post.content%>
        </p>
      </div class="mt-2">
      <h4>Bình luận</h4>
      <div class=" row comment">
        <div class="col-sm-1">
          <img class="img" src="/img/test.jpg" alt="ảnh">
        </div>
        <div class="col-sm-11">
          <label>Huyen Haru</label>
          <span>3 tháng</span>
          <br>
          <span>làm cách mạng thật gian nan</span><br>

          <div class=" row comment1">
            <div class="col-sm-1">
              <img src="/img/test.jpg" alt="ảnh">
            </div>
            <div class="col-sm-11">
              <label>Huyen Haru</label>
              <span>3 tháng</span>
              <br>
              <span>làm cách mạng thật gian nan</span>
            </div>
          </div>

          <div class="row comment1">
            <div class="col-sm-1">
              <img src="/img/test.jpg" alt="ảnh">
            </div>
            <div class="col-sm-11">
              <textarea placeholder="Ý kiến (markdown)"></textarea>
              <button>Trả lời</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row comment1">
        <div class="col-sm-1">
          <img class="img" src="/img/test.jpg" alt="ảnh">
        </div>
        <div class="col-sm-11">
          <textarea placeholder="Ý kiến (markdown)"></textarea>
          <button>Trả lời</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row likecmt">
        <div class="profile ">
          <div class="col-sm-4">
            <img src="/img/test.jpg" alt="ảnh">
          </div>
          <div class="col-sm-7">
            <label>Huyen Haru</label><br>
            <span>0 bài viết</span><br>
            <span>0 người theo dõi</span>
          </div>
        </div>

        <div class="number-like">
          <div class="col-sm-6">
            <a><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
            <span>110</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>